 {{> navbar}}

<form name="formFetch" method="POST" action="/">

  <div class="formDiv">
    <div class="form-group">
      <label for="exampleInputEmail1"></label>
      <input type="text" class="form-control" name="text" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Введите запрос">
    </div>

    <br> <button type="submit" id="searchBtn" class="btn btn-warning">Найти</button>
  </div>

</form>

<div class="movieWrapper"></div>
